@model AccountPageModel
@{
    if (Model.IsManager)
    {

        Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    }
    else if (Model.IsAdmin)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}
<div class="card" style="width: 100%; margin-bottom: 20px;">
    <div class="card-header text-dark">
        Kullanıcı Bilgileri
    </div>
    <div class="card-body">
        
        <p class="card-text">
            <strong>First Name:</strong> @Model.FirstName<br>
            <strong>Last Name:</strong> @Model.LastName<br>
            <strong>Email:</strong> @Model.Email<br>
        </p>
        <form method="post">
            <button type="submit" class="btn btn-danger mt-3" asp-action="Logout" asp-controller="Account">Çıkış Yap</button>
            <a  class="btn btn-success mt-3" href="@Url.Action("Index","Password")">Şifre Değiştir</a>

        </form>
    </div>
</div>