@model PaginationModel<HumanResourcesSystemCore.Models.WorkReport, WorkReportPageModel>

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="card p-4 mb-4">
    <form method="post" asp-controller="WorkReport" asp-action="Add">
        <div class="form-group">
            <label for="Title">Başlık</label>
            <input type="text" class="form-control" id="Title" asp-for="Data.Title" required />
        </div>
        <div class="form-group">
            <label for="Description">Açıklama</label>
            <textarea class="form-control" id="Description" asp-for="Data.Description" rows="4" required></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Çalışma Raporu Ekle</button>
    </form>
</div>

<div class="list-group">
    @foreach (var report in Model.Dataset)
    {
        <div class="list-group-item" style="word-wrap: break-word; overflow-wrap: break-word; white-space: pre-line;">
            <div class="d-flex justify-content-between">
                <h5>@report.Title</h5>
                <small>@report.ReportDate.ToString("yyyy-MM-dd")</small>
            </div>
            <p class="mt-2" style="word-wrap: break-word; overflow-wrap: break-word; white-space: pre-line; max-width: 100%;">
                @report.Description
            </p>
            <hr />
        </div>
    }
    @await Html.PartialAsync("Partial/Pagination", Model.PartialPaginationModel)

</div>
