@model PartialPaginationModel
<ul class="pagination">
    @if (Model.Count > 5)
    {
        int count = (Model.Count / 5);

        for (int i = 0; i <= count; i++)
        {
            if (i == (int)ViewData["id"])
            {
                <li class="page-item active"><a class="page-link" asp-action="Index" asp-route-id="@i">@(i + 1)</a></li>

            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-id="@i">@(i + 1)</a></li>

            }

        }
    }


</ul>